{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "^react",
    "^next/(.*)$",
    "^next-auth/(.*)$",
    "^@next-auth/(.*)$",
    "^Lib/(.*)$",
    "^Utils/(.*)$",
    "^Hooks/(.*)$",
    "^Styles/(.*)$",
    "^Bar/(.*)$",
    "^Modal/(.*)$",
    "^Skeleton/(.*)$",
    "^Components/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
