@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
}

html {
  background-color: #fff; /* 백그라운드 색상을 밝게 설정 */
  color: #333; /* 텍스트 색상을 어두운 색상으로 설정 */
}

.dark {
  background-color: #333; /* 백그라운드 색상을 어둡게 설정 */
  color: #fff; /* 텍스트 색상을 밝게 설정 */
}
